{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content%}

{% if object %}
    <h1 class="form-heading">Edit this job</h1>
{% else %}
    <h1 class="form-heading">Add a Job</h1>
{% endif %}


    <form action="" method="post">

        {% csrf_token %}

        <div class="row">
            <div class="form-group input-field col s6">
                <label for="title" class="formlabel" style="color: black; font-size: 20px">Job Title:</label>
                {% render_field form.title type="text" class="validate" id="title" %}
            </div>
            <div class="form-group input-field col s6">
                <label for="company" class="formlabel" style="color: black; font-size: 20px">Company:</label>
                {% render_field form.company type="text" class="validate" id="company" %}
            </div>
        </div>

        <div class="row">
            <div class="form-group input-field col s6">
                <label for="contract_type" class="formlabel" style="color: black; font-size: 20px">Contract Type:</label>
                {% render_field form.contract_type type="text" class="validate" id="contract_type" %}
            </div>
            <div class="form-group input-field col s6">
                <label for="salary" class="formlabel" style="color: black; font-size: 20px">Salary:</label>
                {% render_field form.salary type="text" class="validate" id="salary" %}
            </div>
        </div>

        <div class="row">
            <div class="form-group input-field col s6">
                <label for="link" class="formlabel" style="color: black; font-size: 20px">Link to Job Posting:</label>
                {% render_field form.link type="text" class="validate" id="link" %}
            </div>
            <div class="form-group input-field col s6">
                <label for="contact" class="formlabel" style="color: black; font-size: 20px">Contact Information:</label>
                {% render_field form.contact type="text" class="validate" id="contact" %}
            </div>
        </div>

        <div class="row">
            <div class="form-group input-field col s12">
                <label for="description" class="formlabel"  style="color: black; font-size: 20px">Description: <span class="grey-text" style="font-size: 12px"> (optional)</span></label>
                {% render_field form.description type="textarea" class="materialize-textarea" rows="5" id="description" %}
            </div>
        </div>

        <input type="submit" value="submit" class="btn" style="background: #651fff; color: yellow; font-family: Azonix">
    </form>



{% endblock %}