{% extends 'base.html' %}

{% block content%}

    

<h1 class="form-heading"> Your Job Requirements </h1>

            
            {% for requirement in requirements_list %}
                
                <a href="{% url 'requirements_detail' requirement.id %}"> 
                    <div class="card">
                        <div class="card-content">
                            <div class="card-title"> {{ requirement.type }} </div>
                            <div style="font-size: 20px"> Description: {{ requirement.description }} </div>
                        </div>
                    </div>
                </a>
    


    {% endfor %}

{% endblock %}