{% extends 'base.html' %}

{% block content%}

    

<h1 class="form-heading"> Your Job Requirements </h1>

                
            <div class="row">
                {% for requirement in requirements_list %}
                <div class="col s12 m6 l4">
                    <div class="card-panel deep-purple accent-3">

                        <a href="{% url 'requirements_detail' requirement.id %}"> 
                    
                            <div class="card-title" style="font-size: 20px; color: white; text-align: center"> {{ requirement.type }} </div>
                                  
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>


{% endblock %}