{% extends 'base.html' %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}    

    <!-- <h1> Profile </h1> -->


    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-0">
          <div class="row valign-wrapper">
            <div class="col s10">
                <h2 class="account-heading"> {{ user.first_name }} {{ user.last_name}} </h2>
            </div>
            <div class="col s6 m6">
                <img class="circle account-img" alt="Your Photo" src="{{ user.profile.image.url }}" height="100px"> 
            </div>
          </div>
        </div>
    </div>

    <!-- Table profile data -->

    <table class="highlight table-details">
        <thead>
            <tbody>
                <tr>
                    <th>Username:</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{ user.email }}</td>
                </tr>
                {% if user.profile.cv == None %}
                <tr>
                    <th>CV Link:</th>
                    <td>Edit your profile to add</td>
                </tr>
                {% else %}
                <tr>
                    <th>CV Link:</th>
                    <td><a href="{{ user.profile.cv }}" target="_blank"> See your CV here </a></td>
                </tr>
                {% endif %}
                {% if user.profile.coverletter == None %}
                <tr>
                    <th>Cover Letter:</th>
                    <td>Edit your profile to add</td>
                </tr>
                {% else %}
                <tr>
                    <th>Cover Letter:</th>
                    <td><a href="{{ user.profile.coverletter }}" target="_blank"> See your Coverletter here </a></td>
                </tr>
                {% endif %}
                <tr>
                    <th>Other Info:</th>
                    <td>{{ user.profile.other }}</td>
                </tr>    
            </tbody>
        </thead>
    
    </table>



    <div class="content-section">
    
<br>
        <!-- Change password and update profile buttons -->

        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Edit Profile Info</a>
        <a class="waves-effect waves-light btn" href="{% url 'password_change' %}">Change Password</a>

        <div id="modal1" class="modal">
            <div class="modal-content">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <legend class="border-bottom mb-4"> Edit Profile Information </legend>
                    <fieldset class="input-field col s12">
                        <span>{{ u_form }}</span>
                        <hr>
                        <br>
                        <span>{{ p_form }}</span>
                    </fieldset>
                    
                    <div class="form-group">
                        <button class="btn deep-purple accent-3" type="submit" style="color: yellow; font-family: Azonix; margin-top: 10px"> Update </button>
                    </div>
                </form>
            </div>
        
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat deep-purple accent-3" style="color: yellow; font-family: Azonix"> Close </a>
            </div>
        </div>
    </div>


{% endblock %}