{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

{% for message in messages %}
    <div class="message">
        <span>{{ message }}</span>
        <a href="#" class="del-msg"></a>
    </div>
{% endfor %}

    <h1> Log In </h1>

    {% if form.errors %}
    <p> Your username and password didn't match. Please try again.</p> 
    
    {% endif %}

    <form method="post" action="{% url 'login' %}" >
        {% csrf_token %}

        <div class="form-group input-field col s6">
            <label for="username" class="formlabel" style="color: black; font-size: 20px">Username:</label>
            {% render_field form.username type="text" class="validate" id="username" %}
        </div>
        <div class="form-group input-field col s6">
            <label for="password" class="formlabel" style="color: black; font-size: 20px">Password:</label>
            {% render_field form.password type="password" class="validate" id="password" autocomplete="off" %}
        </div>

        <input type="submit" value="Log In" class="btn" style="background: #651fff; color: yellow; font-family: Azonix">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <a href="{% url 'password_reset' %}" style="font-family: Azonix;"> Forgot password? </a>

{% endblock %}