{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h2 class="form-heading"> Reset Password </h2> 
    <form method="post"> 
        {% csrf_token %}
        <div class="row">
            <div class="form-group input-field col s6">
                <label for="email" class="formlabel" style="color: black; font-size: 20px">Email:</label>
                {% render_field form.email type="email" class="validate" id="email" %}
            </div>
        </div>

        <button type="submit"> Submit </button>
        <a href="{% url 'signup' %}" style="font-family: Azonix;"> &nbsp; Sign Up </a>
    </form> 

     
{% endblock %}