{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<h2 class="form-heading"> Change Password </h2>
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="form-group input-field col s12">
            <label for="old_password" class="formlabel" style="color: black; font-size: 20px">Old Password:</label>
            {% render_field form.old_password type="password" class="validate" id="old_password" %}
        </div>
    </div>
    <div class="row">
        <div class="form-group input-field col s6">
            <label for="new_password1" class="formlabel" style="color: black; font-size: 20px">New Password:</label>
            {% render_field form.new_password1 type="password" class="validate" id="new_password1" %}
        </div>
        <div class="form-group input-field col s6">
            <label for="new_password2" class="formlabel" style="color: black; font-size: 20px">Confirm New Password:</label>
            {% render_field form.new_password2 type="password" class="validate" id="new_password2" %}
        </div>
    </div>
    <button type="submit" class="btn" style="background: #651fff; color: yellow; font-family: Azonix">Change Password </button> 
    <a href="{% url 'profile' %}"> &nbsp; Back </a>
</form>



{% endblock %}