{% extends 'base.html' %}

{% block content %}
    <h1 class="form-heading">Sign Up </h1> 
    {% if error_message %}
    <p class="red-text"> {{ error_message }} </p> 
    {% endif %}


    <form style="color: black" action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="form-group input-field col s12">
                {% render_field form.username type="text" class="form-control" placeholder="username" id="exampleusername" %}
            </div>
        <div class="row">
            <div class="form-group input-field col s6">
                {% render_field form.password1 type="password" class="form-control" placeholder="password" id="exampleuser" %}
            </div>
            <div class="form-group input-field col s6">
                {% render_field form.password1 type="password" class="form-control" placeholder="password" id="exampleuser" %}
            </div>
          </div>

        <input type="submit" value="Sign Up" class="btn" style="background: #7636FA; color: yellow; font-family: Azonix">
    </form>

{% endblock %}