
<table class="highlight table-details">
    <thead>
        <tbody>
            <tr>
                <th>Company:</th>
                <td>{{ job.company }}</td>
            </tr>
            <tr>
                <th>Contract Type:</th>
                <td>{{ job.contract_type }}</td>
            </tr>
            <tr>
                <th>Salary:</th>
                <td>{{ job.salary }}</td>
            </tr>
            <tr>
                <th>Post Link:</th>
                <td>{{ job.link }}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>{{ job.description }}</td>
            </tr>
            <tr>
                <th>Company Contact:</th>
                <td>{{ job.contact }}</td>
            </tr>
        </tbody>
    </thead>

</table>