{% if user.is_authenticated %}
                    
<li> <a href="">Hi {{ user.first_name }},</a></li>
<li> <a href="{% url 'profile' %}"> <i class="fa-solid fa-user"></i> My account </a></li>
<li> <a href="{% url 'jobs_create' %}"> Add A Job </a></li>
<li> <a href="{% url 'index' %}"> View All Jobs </a></li>
<li> <a href="{% url 'requirements_create' %}"> Add Requirement </a></li>             
<li> <a href="{% url 'logout' %}"> Log Out </a></li>

{% else %}
<li> <a href="{% url 'about' %}"> About </a></li>
<li> <a href="{% url 'signup' %}"> Sign Up </a></li>
<li><a href="{% url 'login' %}">Log In</a></li>
   

{% endif %}