<link href="../static/css/about.css" rel="stylesheet"/>
{% extends 'base.html' %}

{% block content %}

<center>
    <h1 style="color: #651fff;">For Engineers, <br>By Engineers</h1>
    <p style="color: #651fff; font-size: 20px">A powerful Job Application Tracking App for both Junior Graduate and Senior Software Engineers. Now it's super easy to manage jobs, collect job application requirements right from the convenience of your browser. Job Tracker increases productivity, improves time sheet accuracy, and saves you an endless amount of time and effort.</p>
</center>

<div style="display: flex; justify-content: space-between; color: #651fff;">
    <div>
        <img src="../static/img/bedros.jpg">
        <center><h5>Bedros Asdorian</h5></center>
        <center><a href="https://github.com/bedrosasdorian"><i class="fa-brands fa-github" style="font-size: 30px; padding: 5px"></i></a></center>
    </div>

    <div>
        <img src="../static/img/yamily.jpg">
        <center><h5>Yamily Benigni</h5></center>
        <center><a href="https://github.com/ailishmcl"><i class="fa-brands fa-github" style="font-size: 30px; padding: 5px"></i></a></center>
    </div>

    <div>
        <img src="../static/img/ailish.jpg">
        <center><h5>Ailish McLaughlin</h5></center>
        <center><a href="https://github.com/yamilyn"><i class="fa-brands fa-github" style="font-size: 30px; padding: 5px"></i></a></center>
    </div>
</div>
{% endblock %}