
@import url(//db.onlinewebfonts.com/c/50cd2aad9c8f35800bb6beac3ad42f16?family=Azonix);
@font-face {font-family: "Azonix"; src: url("//db.onlinewebfonts.com/t/50cd2aad9c8f35800bb6beac3ad42f16.eot"); src: url("//db.onlinewebfonts.com/t/50cd2aad9c8f35800bb6beac3ad42f16.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/50cd2aad9c8f35800bb6beac3ad42f16.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/50cd2aad9c8f35800bb6beac3ad42f16.woff") format("woff"), url("//db.onlinewebfonts.com/t/50cd2aad9c8f35800bb6beac3ad42f16.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/50cd2aad9c8f35800bb6beac3ad42f16.svg#Azonix") format("svg"); }

h1, h2 {
    font-family: Azonix;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  

select {
    display: block !important;
}

.job-status {
    padding: 5px; 
    color: white;
    text-align: center;
    width: 150px;
}

.bg-green {
    background-color: #8ef28e;
}

.bg-yellow {
    background-color: #e3f28e;
}

.bg-orange {
    background-color: #f2b88e;
}

.bg-blue {
    background-color:cadetblue;
}

.bg-red {
    background-color: #f28e8e;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* color: #707070; */
}

nav .brand-logo {
    color: yellow; 
    margin-left: 5%; 
    font-family: 'Oleo Script Swash Caps', cursive; 
    font-size: 300%
}

nav ul a {
    color: yellow;
}

.nav-wrapper {
    font-size: 100%;
}

--fa-inverse {
    color: yellow;
}

main {
    flex: 1 0 auto;
}


footer .page-footer {
    padding-top: 0;
    text-align: center;
    color: yellow;
}


a {
    color: #651fff;
}

.input-field {
    color: #651fff;
    font-size: 20px;
}

.modal-trigger {
    width: 250px;
}

.dark-mode {
    background-color: rgb(144, 144, 144);
    /* color: rgb(31, 31, 31);  */
}

table.table-details > tbody > tr > th {
    width: 30%;
}

.btn, .btn-large, .btn-small {
    font-family: "Azonix", sans-serif;
    color: yellow;
    background-color: #651fff;
}
:hover.btn, .btn-large, .btn-small {
    font-family: "Azonix", cursive;
    color: white;
    background-color: #651fff;
}

button {
    font-family: "Azonix", sans-serif;
    color: yellow;
    background-color: #651fff;
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5px;
}


.account-heading {
    text-align: right;
}

/* label color */
.input-field label {
    color: #651fff;
}

.form-group .input-field input[type=text]:focus {
    border-bottom: 1px solid #651fff;
    box-shadow: 0 1px 0 0 #651fff;
}
