{% extends 'base.html' %}

{% block content%}

<h1> Job Details </h1>

    <div class="center-align center">
                    
        {% if job.status == 'New' %}
        <h6 class="job-status bg-green">{{ job.status }}</h6>
        {% elif job.status == 'Application Sent' %}
        <h6 class="job-status bg-yellow">{{ job.status }}</h6>
        {% elif job.status == 'Interviewing' %}
        <h6 class="job-status bg-orange">{{ job.status }}</h6>
        {% elif job.status == 'Unsuccessful' %}
        <h6 class="job-status bg-red">{{ job.status }}</h6>
        {%endif %}
    </div>

    
    
<div class="">
    <div class="">

        <div class="right">
            <a href="{% url 'jobs_update' job.id %}">Edit</a>&nbsp;
            <a href="{% url 'jobs_delete' job.id %}">Delete</a>
        </div>

        <span class="">{{ job.title }}</span>
        
        {% if job.status == 'Unsuccessful' %}
        <p class="red-text">Feedback: {{ job.feedback }}</p>
        <p>Company: {{ job.company }}</p>
        <p>Contract Type: {{ job.contract_type }}</p>
        <p>Salary Type: {{ job.salary }}</p>
        <p>Post Link: {{ job.link }}</p>
        <p>Description: {{ job.description }}</p>
        <p>Company Contact: {{ job.contact }}</p>
        
        {% else %}
        
        <p>Company: {{ job.company }}</p>
        <p>Contract Type: {{ job.contract_type }}</p>
        <p>Salary Type: {{ job.salary }}</p>
        <p>Post Link: {{ job.link }}</p>
        <p>Description: {{ job.description }}</p>
        <p>Company Contact: {{ job.contact }}</p>

        {% endif %}

    </div>

</div>


<!-- Assigned Requirement -->

<hr>

<a name="requirements">

    <div class="row">
        <div class="col s6">
            <h4> Requirements </h4>

            {% if job.requirements.count %}
            <div class="card-panel teal-text center-align"> You have requirements for {{ job.title }}. </div>

            {% for requirement in job.requirements.all %}

            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                    <span> {{ requirement.type }} </span>
                    <i class="material-icons"></i>
                </span>
                </div>

                <div class="card-action">
                    <form action="{% url 'unassoc_requirement' job.id requirement.id %}#requirements" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn"> Remove</button>
                    </form>
                </div>

            </div>

            {% endfor %}

            {% else %}

            <div class="card-panel red-text center-align"> No requirements assigned for {{ job.title }}. </div>

            {% endif%}

        </div>

<!-- Not Assigned Requirement -->

        <div class="col s12">
            <h4>{{ job.title }}'s Planner</h4>

            {% if requirements.count %}

            {% for requirement in requirements.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                    <span> {{ requirement.type }} </span>
                    </span>
                </div>


                <div class="card-action">
                    <form action="{% url 'assoc_requirement' job.id requirement.id %}#requirements" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn"> Add</button>
                    </form>
                </div>
            </div>
            {% endfor %}

                {% else %}
                    <h5> {{ job.title }} is up to date <i class="material-icons">done_all</i></h5>
                    <p><a href="{% url 'requirements_create' %}"> Add new Requirement for your dashboard </a></p>

                {% endif %}
        </div>

    </div>

</a>




{% endblock %}