{% extends 'base.html' %}

{% block content%}

<h1> Job Details </h1>
<div class="">
    <div class="">

        <span class="">{{ job.title }}</span>
        <p>Company: {{ job.company }}</p>
        <p>Contract Type: {{ job.contract_type }}</p>
        <p>Salary Type: {{ job.salary }}</p>
        <p>Post Link: {{ job.link }}</p>
        <p>Description: {{ job.description }}</p>
        <p>Company Contact: {{ job.contact }}</p>

    

    </div>

    <div class="">
        <a href="{% url 'jobs_update' job.id %}">Edit</a>
        <a href="{% url 'jobs_delete' job.id %}">Delete</a>
    </div>

</div>

<div>


    <form action="{% url 'add_requirement' job.id %}" method="post">
        {% csrf_token %}
        {{ requirements_form.as_p }}
        <input type="submit" value="Add Requirement" class="btn">
    </form>

    {% if job.requirements_form %}
    <div class="card-panel teal-text center-align"> You have requirements for {{ job.title }}. </div>
    {% else %}
    <div class="card-panel red-text center-align"> No requirements assigned for {{ job.title }}. </div>
    {% endif %}

    <table class="striped">
        <thead>
            <tr>
                <th></th>
                <th>List of Requirements</th>
            </tr>
        </thead>

        <tbody>
            {% for requirement in job.requirements.all %}
            <tr>
                <td>{{ requirement.get_type_display }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

<!-- Assigned Requirement -->

<hr>

<a name="requirements">

    <div class="row">
        <div class="col s6">
            <h4> Requirement </h4>

            {% if job.requirements.count %}

            {% for requirement in job.requirements.all %}

            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                    <span> {{ requirement.type }} </span>
                    <i class="material-icons"></i>
                </span>
                </div>

                <div class="card-action">
                    <form action="{% url 'unassoc_requirement' job.id requirement.id %}#requirements" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn"> Remove</button>
                    </form>
                </div>

            </div>

            {% endfor %}

            {% else %}

            <h5>Nothing done :(</h5>

            {% endif%}

        </div>

<!-- Not Assigned Requirement -->

        <div class="col s6">
            <h4>{{ job.title }}'s Planner</h4>

            {% if requirements.count %}

            {% for requirement in requirements.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                    <span> {{ requirement.type }} </span>
                    </span>
                </div>


                <div class="card-action">
                    <form action="{% url 'assoc_requirement' job.id requirement.id %}#requirements" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn"> Add</button>
                    </form>

                    <div class="input-field col s12">
                        <select>
                            <form action ="{% url 'assoc_requirement' job.id requirement.id %}" method="post"></form>
                        </select>
                        <label>Select an option</label>
                      </div>

                </div>
            </div>
            {% endfor %}

                {% else %}
                    <h5> {{ job.title }} is up to date <i class="material-icons">done_all</i></h5>
                    <p><a href="{% url 'requirements_create' %}"> Add new Requirement to the vacancy </a></p>

                {% endif %}
        </div>

    </div>

</a>




{% endblock %}