{% extends 'base.html' %}

{% block content%}

{% if messages %}
<div>
    <ul class="message">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<h1> Wishlist </h1>

{% if jobs|length == 0 %}
<h5>Clique <a href="{% url 'jobs_create' %}"> HERE </a> to start your wishlist.</h5>
{% endif %}

<div class="flex-container">
<div class="row card-container">

{% for job in jobs %}

    <div class="col s12 m6 l4">

        <div class="card small">

            <div class="card-content">

                <div class="center-align center">
                    <!-- Modal Trigger by color -->
                    {% if job.status == 'New' %}
                    <a class="job-status bg-green modal-trigger" onclick="findMyStatus({{job.id}})" href="#modal-status">{{ job.status }}</a>
                    {% elif job.status == 'Application Sent' %}
                    <a class="job-status bg-yellow modal-trigger" onclick="findMyStatus({{job.id}})" href="#modal-status">{{ job.status }}</a>
                    {% elif job.status == 'Interviewing' %}
                    <a class="job-status bg-orange modal-trigger" onclick="findMyStatus({{job.id}})" href="#modal-status">{{ job.status }}</a>
                    {% elif job.status == 'Successful' %}
                    <a class="job-status bg-blue modal-trigger" onclick="findMyStatus({{job.id}})" href="#modal-status">{{ job.status }}</a>
                    {% elif job.status == 'Unsuccessful' %}
                    <a class="job-status bg-red modal-trigger" onclick="findMyStatus({{job.id}})" href="#modal-status">{{ job.status }}</a>
                    {%endif %}
                </div>

                <h4 class="card-title" class="left-align left"> {{ job.title }} </h4>

                <p>Company: {{ job.company }}</p>
                <p>Contract Type: {{ job.contract_type }}</p>
                <p>Salary: {{ job.salary }}</p>
                <p>Click below to change status:</p>
                <div class="center-align center">
                    <!-- Modal Trigger by color -->
                    {% if job.status == 'New' %}
                    <a class="job-status bg-green modal-trigger" onclick="findMyStatus({{job.id}})" href="#modal-status">{{ job.status }}</a>
                    {% elif job.status == 'Application Sent' %}
                    <a class="job-status bg-yellow modal-trigger" onclick="findMyStatus({{job.id}})" href="#modal-status">{{ job.status }}</a>
                    {% elif job.status == 'Interviewing' %}
                    <a class="job-status bg-orange modal-trigger" onclick="findMyStatus({{job.id}})" href="#modal-status">{{ job.status }}</a>
                    {% elif job.status == 'Successful' %}
                    <a class="job-status bg-blue modal-trigger" onclick="findMyStatus({{job.id}})" href="#modal-status">{{ job.status }}</a>
                    {% elif job.status == 'Unsuccessful' %}
                    <a class="job-status bg-red modal-trigger" onclick="findMyStatus({{job.id}})" href="#modal-status">{{ job.status }}</a>
                    {%endif %}
                </div>
            </div>
            <div class="card-action">
                
                <a href="{% url 'detail' job.id %}" class="waves-effect waves-light deep-purple accent-3 btn right">See details</a>&nbsp;
            </div>
        </div>

    </div>




{% endfor %}

<!-- Modal Structure -->
<div id="modal-status" class="modal">
    <div class="modal-content">

        <form action="" method="post" id="status-form">

            {% csrf_token %}
    
            <table class="input-field col s12" id="edit-status-form">
            </table>

            <input type="submit" value="submit" class="btn deep-purple accent-3">
        </form>
        <div id="change-status-response"></div>

    </div>


    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
<!-- End Modal -->

</div>
</div>

{% endblock %}

