{% extends 'base.html' %}

{% block content%}

{% for message in messages %}
    <div class="message">
        <span>{{ message }}</span>
        <a href="#" class="del-msg"></a>
    </div>
{% endfor %}

<h1> Wishlist </h1>

{% if jobs|length == 0 %}
<h5>Click <a href="{% url 'jobs_create' %}"> HERE </a> to start your wishlist.</h5>
{% endif %}

<div class="flex-container">
<div class="row card-container">

{% for job in jobs %}

    <div class="col s12 m6 l4">

        <div class="card small">

            <div class="card-content">

                <div class="job-status center-align center 
                    {% if job.status == 'New' %}
                    bg-green
                    {% elif job.status == 'Application Sent' %}
                    bg-yellow
                    {% elif job.status == 'Interviewing' %}
                    bg-orange
                    {% elif job.status == 'Successful' %}
                    bg-blue
                    {% elif job.status == 'Unsuccessful' %}
                    bg-red
                    {%endif %} ">
                    <a class="modal-trigger white-text" onclick="findMyStatus({{job.id}})" href="#modal-status">{{ job.status }}</a>
                </div>

                <h4 class="card-title" class="left-align left"> {{ job.title }} </h4>

                <p>Company: {{ job.company }}</p>
                <p>Contract Type: {{ job.contract_type }}</p>
                <p>Salary: {{ job.salary }}</p>
                <p>Click on the label to change the status</p>
                
            </div>
            <div class="card-action">
                
                <a href="{% url 'detail' job.id %}" class="waves-effect waves-light deep-purple accent-3 btn right">See details</a>&nbsp;
            </div>
        </div>

    </div>




{% endfor %}

<!-- Modal Structure -->
<div id="modal-status" class="modal">
    <div class="modal-content">

        <form action="" method="post" id="status-form">

            {% csrf_token %}
    
            <table class="input-field col s12" id="edit-status-form">
            </table>

            <input type="submit" value="submit" class="btn deep-purple accent-3">
        </form>
        <div id="change-status-response"></div>

    </div>


    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
<!-- End Modal -->

</div>
</div>

{% endblock %}

