{% extends 'base.html' %}

{% block content%}

<h1> Wishlist </h1>

{% if jobs|length == 0 %}
<h5>Clique <a href="{% url 'jobs_create' %}"> HERE </a> to start your wishlist.</h5>
{% endif %}

{% for job in jobs %}


<div class="row">
    <div class="col s4">

        <div class="card small">

            <div class="card-content">

                <div class="center-align center">
                    
                    {% if job.status == 'New' %}
                    <h6 class="job-status bg-green">{{ job.status }}</h6>
                    {% elif job.status == 'Application Sent' %}
                    <h6 class="job-status bg-yellow">{{ job.status }}</h6>
                    {% elif job.status == 'Interviewing' %}
                    <h6 class="job-status bg-orange">{{ job.status }}</h6>
                    {% elif job.status == 'Unsuccessful' %}
                    <h6 class="job-status bg-red">{{ job.status }}</h6>
                    {%endif %}
                </div>

                <h4 class="card-title" class="left-align left"> {{ job.title }} </h4>

                <p>Company: {{ job.company }}</p>
                <p>Contract Type: {{ job.contract_type }}</p>
                <p>Salary: {{ job.salary }}</p>

                <a href="{% url 'detail' job.id %}" class="waves-effect waves-light deep-purple accent-3 btn right">See details</a>&nbsp;

            </div>

            

        </div>

    </div>
</div>



{% endfor %}

{% endblock %}